<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>

<body>
    <div class="format">
        <h2>CSV Data Quality Dashboard</h2>
        <input type="file"  id="upload_file" accept=".csv">
        <button onclick="Analyse()">Analyse</button>

        <div id="result"></div>

    </div>
</body>
</html>